<div style="display: flex;flex-direction: column; justify-content: center; align-items: center; background-color: #0f173a">
  <p style="color: white; margin-top: 25px; font-size: 1.4rem;font-family: 'Roboto'">Olá, <%= @resource.email %></p>
  <div style="background-color: #242d49; margin: 10px 35px 30px 35px; padding: 20px 10px 20px 10px;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Twemoji2_1f914.svg/768px-Twemoji2_1f914.svg.png" 
      alt="thinking emoji" style="display: block; margin-left: auto; margin-right: auto; width: 25%;">
    <p style="letter-spacing: 1.4px; color: white; font-size: 2rem; text-align: center;font-family: 'Roboto'; font-weight:900">Esqueceu sua senha?</p>
    <p style="color:white; font-size: 1.4rem; text-align:center; margin-top:-15px;">Acontece. Clique no botão abaixo para mudar sua senha.</p>
    <p style="background-color: white; border: none; color: black; padding: 15px 32px; text-align: center; 
      text-decoration: none; font-weight: 900; font-size: 1.45rem; font-family: 'Roboto';"><%= link_to 'Mudar senha', "#{message['redirect-url']}?reset_password_token=#{@token}", style: "text-decoration: none; color:#0f173a;" %></p>
    <hr style="margin-top:-8px;">
    <p style="opacity: .4; color: white; font-family: 'Roboto'; padding-left: 10px; padding-right: 10px;">
      Alguém solicitou um link para alterar sua senha. 
      Você pode fazer isso através do link acima.
      Se não foi você, desconsidere este email.
    </p>
  </div>
</div>
